@use "sass:map";
@use "@/assets/scss/variables.scss" as *;

.cmsForm {
  padding-left: map.get($spacers, 6); // 4rem equivalent
  padding-right: map.get($spacers, 6); // 4rem equivalent
}

.editorSection {
  margin: 0 -8px;
}
