@use "sass:map";
@use "@/assets/scss/variables" as *;

.popover {
  min-width: map.get($spacers, 35); // 280px
  max-width: map.get($spacers, 50); // 400px
  border: 1px solid $gray-300;
  border-radius: map.get($border-radii, md); // 8px
  box-shadow: 0 map.get($spacers, 1) map.get($spacers, 3) rgba(0, 0, 0, 0.1);
  .popover-body {
    padding: map.get($spacers, 4); // 16px
  }
}

.content {
  margin-bottom: map.get($spacers, 4); // 16px
  max-height: map.get($spacers, 50); // 400px
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $white;
  }
  &::-webkit-scrollbar-track {
    background: $gray-100;
    border-radius: map.get($border-radii, sm); // 3px
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-400;
    border-radius: map.get($border-radii, sm); // 3px
    &:hover {
      background: $light; // replaced --bs-gray-1000
    }
  }
}

.footer {
  border-top: 1px solid $gray-200;
  padding-top: map.get($spacers, 4); // 16px
  margin-top: map.get($spacers, 4); // 16px
}
