@use "sass:map";
@use "@/assets/scss/variables" as *;

.select {
  border-radius: map.get($border-radii, sm) !important;
  box-shadow: map.get($box-shadows, sm) !important;

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25) !important;
  }

  &:disabled {
    background-color: map.get($theme-colors, light);
    opacity: 0.65;
  }
}
