@use "sass:map";
@use "@/assets/scss/variables" as *;

.stateFilter {
  min-width: 200px;
  max-width: 400px;
  padding: map.get($spacers, 2); // 8px
  border-radius: map.get($border-radii, sm); // 4px
  background-color: $white;
  border: 1px solid $light;

  &:focus {
    border-color: $primary;
   box-shadow: 0 0 0 0.25rem rgba(0,0,0, 0.25);
    outline: none;
  }

  option {
    padding: map.get($spacers, 2) map.get($spacers, 3); // 8px 12px
    cursor: pointer;

    &:hover {
      background-color: $light;
    }

    &:checked {
      background-color: $primary;
      color: $white;
    }

    &[value=""] {
      font-weight: map.get($font-weights, medium);
      border-bottom: 1px solid $gray-200;
      margin-bottom: map.get($spacers, 1); // 4px
    }
  }
}
