@use "sass:map";
@use "@/assets/scss/variables" as *;

.space {
  display: inline-flex;
  gap: map.get($spacers, 2);

  > svg {
    vertical-align: middle;
    flex-shrink: 0;
  }
}

.block {
  display: flex;
}

.alignSVGBaseline {
  svg {
    vertical-align: baseline;
  }
}

.alignSVGCenter {
  svg {
    vertical-align: middle;
  }
}
