@use "sass:map";
@use "@/assets/scss/variables" as *;

.menu {
  background-color: $body-bg;
  border: 1px solid $border-color;
  border-radius: map.get($border-radii, md);
  box-shadow: map.get($shadows, md);
  padding: map.get($spacers, 2) 0;
  min-width: 10rem;
  z-index: map.get($z-indexes, dropdown);

  .menuItem {
    display: block;
    width: 100%;
    padding: map.get($spacers, 2) map.get($spacers, 3);
    clear: both;
    font-weight: map.get($font-weights, normal);
    color: $body-color;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all map.get($transitions, fast) ease-in-out;

    &:hover,
    &:focus {
      color: $body-color;
      background-color: $primary-bg-subtle;
      outline: none;
    }

    &.active {
      color: $primary;
      background-color: $primary-bg-subtle;
    }

    &.disabled {
      color: $secondary;
      pointer-events: none;
      background-color: transparent;
      opacity: 0.65;
    }
  }

  .divider {
    height: 0;
    margin: map.get($spacers, 2) 0;
    overflow: hidden;
    border-top: 1px solid $border-color;
  }
}
