@use "@/assets/scss/variables" as *;

.imageWrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.loading {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
