@use "@/assets/scss/variables.scss" as *;

.radioGroup {
  margin-bottom: map-get($spacers, 0.5);

  &.inline {
    display: inline-block;
    margin-right: map-get($spacers, 2);
    margin-bottom: 0;
  }
}

.radio {
  .form-check-input {
    background-color: var(--bs-form-check-bg);
    border-color: var(--bs-form-check-input-border-color);
    
    &:checked {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }

    &:focus {
      border-color: var(--bs-primary);
      box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .form-check-label {
    color: var(--bs-body-color);
    cursor: pointer;
    user-select: none;
  }
}
