@use "sass:map";
@use "@/assets/scss/variables" as *;

.drawer {
  .offcanvas {
    &-header {
      padding: map.get($spacers, 2) map.get($spacers, 3);
      border-bottom: map.get($border-widths, 1) solid var(--bs-border-color);
    }
    &-body {
      padding: map.get($spacers, 3);
    }
  }
}
