@use "sass:map";
@use "@/assets/scss/variables" as *;

.tabs {
  .nav-link {
    padding-left: map.get($spacers, 4);
    padding-right: map.get($spacers, 4);
  }

  .tab-content {
    padding-top: map.get($spacers, 4);
  }
}
