@use "sass:map";
@use "@/assets/scss/variables.scss" as *;

// ---------------------------
// Input Fields
// ---------------------------

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: map.get($font-sizes, md);
  font-weight: map.get($font-weights, normal);
  line-height: 1.5;
  color: $body-color; // default foreground
  background-color: $body-bg; // default surface
  background-clip: padding-box;
  border: 1px solid $border-color;
  border-radius: map.get($border-radii, sm);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: $body-color;
    background-color: $body-bg;
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
  }

  &:disabled {
    background-color: map.get($theme-colors, light);
    opacity: 0.65;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $secondary;
    opacity: 1;
  }

  &.isInvalid {
    border-color: $danger !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

    &:focus {
      border-color: $danger !important;
      box-shadow: 0 0 0 0.25rem rgba($danger, 0.25);
    }
  }

  &.isValid {
    border-color: $success;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

    &:focus {
      border-color: $success;
      box-shadow: 0 0 0 0.25rem rgba($success, 0.25);
    }
  }
}

// Dark mode overrides
.dark .input {
  color: $light;
  background-color: $dark;
  border-color: $secondary;

  &::placeholder {
    color: $secondary;
  }

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
  }

  &.isInvalid {
    border-color: $danger;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($danger, 0.25);
    }
  }

  &.isValid {
    border-color: $success;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($success, 0.25);
    }
  }
}
