@use "sass:map";
@use "@/assets/scss/variables" as *;

.modal {
  .modalHeader {
    border-bottom: 1px solid $border-color;
    padding: map.get($spacers, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modalTitle {
      margin: 0;
      font-size: map.get($font-sizes, lg);
      font-weight: map.get($font-weights, medium);
      color: $body-color;
    }

    .closeButton {
      padding: map.get($spacers, 2);
      margin: calc(-1 * map.get($spacers, 2)) calc(-1 * map.get($spacers, 2))
        calc(-1 * map.get($spacers, 2)) auto;
      background: transparent;
      border: 0;
      color: $secondary;
      cursor: pointer;
      transition: color map.get($transitions, fast) ease-in-out;

      &:hover {
        color: $body-color;
      }
    }
    .dark .closeButton {
      --bs-btn-close-color: #fff;
      --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
      --bs-btn-close-opacity: 0.75;
      --bs-btn-close-hover-opacity: 1;
      --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(96, 54, 149, 0.4);
      --bs-btn-close-disabled-opacity: 0.4;
    }
  }

  .modalBody {
    padding: map.get($spacers, 3);
  }

  .modalFooter {
    border-top: 1px solid $border-color;
    padding: map.get($spacers, 3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: map.get($spacers, 2);
  }
}
