@use "sass:map";
@use "@/assets/scss/variables" as *;

.divider {
  padding: 0;
  margin: map.get($spacers, 3) 0;
  border: 0;
  color: currentColor;

  &.noMargin {
    margin: 0;
  }

  &.primary {
    border-color: var(--bs-primary);
  }
  &.secondary {
    border-color: var(--bs-secondary);
  }
  &.success {
    border-color: var(--bs-success);
  }
  &.danger {
    border-color: var(--bs-danger);
  }
  &.warning {
    border-color: var(--bs-warning);
  }
  &.info {
    border-color: var(--bs-info);
  }
  &.light {
    border-color: var(--bs-light);
  }
  &.dark {
    border-color: var(--bs-dark);
  }

  &.small {
    border-width: map.get($border-widths, 1);
  }
  &.medium {
    border-width: map.get($border-widths, 2);
  }
  &.large {
    border-width: map.get($border-widths, 3);
  }

  &.solid {
    border-style: solid;
  }
  &.dashed {
    border-style: dashed;
  }
  &.dotted {
    border-style: dotted;
  }

  &.horizontal {
    width: 100%;
    border-top-width: map.get($border-widths, 1);
  }

  &.vertical {
    display: inline-block;
    height: 100%;
    border-left-width: map.get($border-widths, 1);
  }

  &.withText {
    display: flex;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: map.get($border-widths, 1);
      background-color: currentColor;
    }

    &::before {
      margin-right: map.get($spacers, 2);
    }

    &::after {
      margin-left: map.get($spacers, 2);
    }
  }

  &.primaryText {
    color: var(--bs-primary);
  }
  &.secondaryText {
    color: var(--bs-secondary);
  }
  &.successText {
    color: var(--bs-success);
  }
  &.dangerText {
    color: var(--bs-danger);
  }
  &.warningText {
    color: var(--bs-warning);
  }
  &.infoText {
    color: var(--bs-info);
  }
  &.lightText {
    color: var(--bs-light);
  }
  &.darkText {
    color: var(--bs-dark);
  }
  &.grayText {
    color: var(--bs-gray-700);
  }
}

.hr {
  margin: 0;
  border: 0;
  border-top: map.get($border-widths, 1) solid var(--bs-border-color);
  opacity: 1;
}

.primary .hr {
  border-color: var(--bs-primary);
}
.secondary .hr {
  border-color: var(--bs-secondary);
}
.success .hr {
  border-color: var(--bs-success);
}
.danger .hr {
  border-color: var(--bs-danger);
}
.warning .hr {
  border-color: var(--bs-warning);
}
.info .hr {
  border-color: var(--bs-info);
}
.light .hr {
  border-color: var(--bs-light);
}
.dark .hr {
  border-color: var(--bs-dark);
}

.vertical {
  height: 100%;
  width: map.get($border-widths, 1);
  margin: 0 map.get($spacers, 3);
}

.solid {
  border-top: map.get($border-widths, 1) solid currentColor;
}
.dashed {
  border-top: map.get($border-widths, 1) dashed currentColor;
}
.dotted {
  border-top: map.get($border-widths, 1) dotted currentColor;
}
