@use "sass:map";
@use "@/assets/scss/variables" as *;

.tagFilter {
  min-width: 280px;
  max-width: 400px;
  padding: map.get($spacers, 2); // 8px
  border-radius: map.get($border-radii, sm); // 4px
  background-color: $white;
  border: 1px solid $light;

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    outline: none;
  }

  option {
    padding: map.get($spacers, 2) map.get($spacers, 3); // 8px 12px
    cursor: pointer;

    &:hover {
      background-color: $light;
    }

    &:checked {
      background-color: $primary;
      color: $white;
    }
  }
}

.searchWrapper {
  padding: map.get($spacers, 2);
  border-bottom: 1px solid $gray-200;

  .form-control {
    padding: map.get($spacers, 2) map.get($spacers, 3);
    border: 1px solid $gray-300;
    border-radius: map.get($border-radii, sm);

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
      outline: none;
    }
  }
}

.buttonWrapper {
  padding: map.get($spacers, 2);
  border-top: 1px solid $gray-200;
  display: flex;
  justify-content: flex-end;
  gap: map.get($spacers, 2);
}

.dropdownLoader {
  position: absolute;
  right: map.get($spacers, 2);
  top: 50%;
  transform: translateY(-50%);
}
