@use "sass:map";
@use "@/assets/scss/variables" as *;

.dropdown {
  min-width: 200px;
  max-width: 400px;
  padding: map.get($spacers, 6); // 8px
  border-radius: map.get($border-radii, sm); // 4px
  background-color: $white;
  border: 1px solid $light;
  &.multiple {
    .form-select {
      padding-right: map.get($spacers, 6); // 24px
    }
  }
}
.searchWrapper {
  padding: map.get($spacers, 2); // 8px
  border-bottom: 1px solid $gray-200;

  .form-control {
    padding: map.get($spacers, 2) map.get($spacers, 3); // 8px 12px
    border: 1px solid $gray-300;
    border-radius: map.get($border-radii, sm);

    &:focus {
      border-color: $primary;
     box-shadow: 0 0 0 0.25rem rgba(0,0,0, 0.25);
      outline: none;
    }
  }
}

.buttonWrapper {
  padding: map.get($spacers, 2); // 8px
  border-top: 1px solid $gray-200;
  display: flex;
  justify-content: flex-end;
  gap: map.get($spacers, 2); // 8px
}

.dropdownLoader {
  position: absolute;
  right: map.get($spacers, 2); // 8px
  top: 50%;
  transform: translateY(-50%);
}
