@use "sass:map";
@use "@/assets/scss/variables.scss" as *;

.link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &.tertiary {
    color: $primary;
    font-weight: map.get($font-weights, medium);

    &:hover {
      color: map.get($theme-colors, info);
      text-decoration: underline;
    }
  }

  &.standalone {
    color: $primary;
    font-weight: map.get($font-weights, medium);
    padding: map.get($spacers, 2) map.get($spacers, 4);
    border-radius: map.get($border-radii, sm);
    background-color: map.get($theme-colors, primary);
    opacity: 0.1;

    &:hover {
      color: $primary;
      background-color: map.get($theme-colors, info);
      text-decoration: none;
    }
  }

  &.inline {
    color: $body-color;
    font-weight: map.get($font-weights, normal);

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  &.inlineIcon {
    color: $primary;
    font-weight: map.get($font-weights, normal);

    &:hover {
      color: map.get($theme-colors, info);
      text-decoration: none;
    }
  }

  &.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: map.get($spacers, 2) map.get($spacers, 4);
    font-weight: map.get($font-weights, medium);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: map.get($border-radii, sm);
    transition: all 0.2s ease-in-out;
    background-color: $primary;
    color: $light;

    &:hover {
      background-color: map.get($theme-colors, info);
      color: $light;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    }

    &:active {
      background-color: map.get($theme-colors, dark);
    }

    &.disabled {
      opacity: 0.65;
      pointer-events: none;
    }
  }

  &.disabled {
    opacity: 0.65;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.dark {
  .link {
    &.tertiary,
    &.inline,
    &.inlineIcon {
      color: $light;

      &:hover {
        color: $primary;
      }
    }

    &.standalone,
    &.button {
      color: $light;
      background-color: $primary;

      &:hover {
        background-color: $info;
      }
    }
  }
}
