@use "@/assets/scss/variables" as *;

.button {
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border: 1px solid $light;
  background-color: $white;
  color: $light;

  &:hover {
    background-color: $light;
    border-color: $light;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  &.active {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary;
      border-color: $primary;
    }
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    transform: none;
  }
}
